furo
esbonio
sphinx-contributors
sphinx
sphinx-llms-txt
sphinx-inline-tabs
sphinxext-opengraph
sphinx-markdown-builder @ git+https://github.com/akaihola/sphinx-markdown-builder.git@singlemarkdown
sphinxcontrib-restbuilder
